<ion-view title="Dashboard">
  <ion-content class="padding">
    <div class="timers">

        <div class="timer" ng-repeat="timer in timers">
          <div class="row">

            <div class="controls secondary-controls">
              <button class="button button-outline icon ion-close"></button>
            </div>

            <div class="info col">
              <div class="value" ng-bind="timer.currentValue"></div>
              <div class="title">{{timer.title}}</div>
            </div>

            <div class="controls primary-controls">
              <button ng-click="startTimer(timer)" class="button button-outline icon ion-play"></button>
            </div>

          </div>
        </div>

    </div>
  </ion-content>
</ion-view>
