/* Empty. Add your own CSS if you like */

.timer {
  background: #eee;
  margin-bottom: 10px;  
}

.timer .info {
}

.timer .control {
  display: inline-block;
  text-align: center;
  font-size: 25px;
  vertical-align: middle;
  padding: 8px;
  width: 40px;
  background: #ddd;
  border-radius: 5px;
  color: #666;
}

.timer .control:hover {
  color: #777;
  background: #dadada;
}

.timer .primary-controls {
  text-align: right;
}


.timer .primary-controls .control {
}

.timer .value {
  font-size: 30px;
  line-height: 1em;
}

.timer .title {
  color: #666;
}


