/* Empty. Add your own CSS if you like */

.timer {
  background: #eee;
  margin-bottom: 10px;  
}

.timer .controls {
  padding: 5px;
}

.timer .value {
  font-size: 30px;
  line-height: 1em;
}

.timer .title {
  color: #666;
}


